<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modbus 配置</title>

    <link rel="stylesheet" href="/components/jsonModal/jsonModal.css">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 6px;
            text-align: left;
        }

        button {
            margin: 2px;
            padding: 4px 8px;
        }
    </style>
</head>
<body>
    <h2>Modbus 寄存器配置</h2>
    <div>
        <button id="btnAddRegister">添加</button>
        <button id="btnPrintfConfig">打印</button>
    </div>
    <div id="modbus-config">


    </div>
    <div id="jsoneditor">

    </div>

    <script type="module">

        import { JsonModal } from '../jsonModal/jsonModal.js';
        import { ModbusRegisterConfigurator } from './modbus.js';
        import JSONEditor from 'jsoneditor';

        const protocol = {
            "protocol_version": "1.0",
            "data_types": {
                "bit": { "size": 1, "signed": false },
                "int8": { "size": 1, "signed": true },
                "uint8": { "size": 1, "signed": false },
                "int16": { "size": 2, "signed": true },
                "uint16": { "size": 2, "signed": false },
                "float32": { "size": 4, "format": "ieee754" },
                "bitmask16": { "size": 2, "format": "bitmask" }
            },
            "registers": [
                { "address": 0, "type": "int16", "scale": 10.0, "byte_order": "ABCD", "name": "ambient_temp" }
            ],
            "byte_order_presets": { "default": "ABCD" }
        };
        const jsonModal = new JsonModal();
        const configurator = new ModbusRegisterConfigurator('modbus-config', protocol);
        document.getElementById('btnAddRegister').addEventListener('click', () => {


        });
        function showJsonData(data) {
            const container = document.getElementById("jsoneditor");
            const editor = new JSONEditor(container, {
                mode: 'view',      // 只读模式
                mainMenuBar: false, // 不显示顶部菜单
                navigationBar: true, // 显示树状导航
                statusBar: false
            });
            editor.set(data);
        }
        document.getElementById('btnPrintfConfig').addEventListener('click', () => {

            const jsonConfig = configurator.exportConfig();
            showJsonData(jsonConfig);
        });

    </script>
</body>
</html>