.device-header {
    display: flex;
    gap: 20px;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 0px;
    height: 3.5em;
    align-items: center;
}

.btn-refresh {
    margin-left: auto;
}

.tabs {
    display: flex;
    /*    padding: 10px;*/
    position: relative;
    height: 100%;
}

    .tabs button.tab-btn {
        padding: 10px 20px;
        background: transparent;
        border: none;
        border-color: transparent;
        cursor: pointer;
        position: relative;
        color: #333;
        height: 100%;
        border-radius: 0px;
        font-size: 1.1em;
    }

        .tabs button.tab-btn.active {
            color: #0078c8;
        }

        .tabs button.tab-btn:hover {
            background-color: #F2F3F4;
        }

        .tabs button.tab-btn.active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #0078c8;
        }

.data-container {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    min-height: 0;
    padding:10px;
}

    .data-container .table-container {
        /*display: flex;*/
        flex: 1;
        overflow: auto;
        box-sizing: border-box;
        border: 1px solid #ccc;
        min-height: 0;
    }

        .data-container .table-container thead th {
            position: sticky;
            top: 0;
            background: #fff;
            z-index: 1;
        }

.device-realtime-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
}

    .device-realtime-table th,
    .device-realtime-table td {
        border: 1px solid #ccc;
        padding: 6px 8px;
        text-align: left;
        word-break: break-word;
    }

    .device-realtime-table th {
        font-weight: bold;
        background-color: #f9f9f9;
    }

    .device-realtime-table tr:nth-child(even) {
        background-color: #f5f5f5;
    }
